<section class="section is-medium main-content-section" (click)="selectWallet($event)">
    <div class="container">
        <div class="central-content-container">

            <p class="wallet-section-header">Selected wallet</p>

            <div class="content-container" (click)="selectMainWallet($event)">
                <div class="custom-box shadow">
                    <div class="box-content selected-wallet">
                        <div class="box-icon">
                            <span class="icon is-medium">
                                <i class="fas my-size fa-wallet resize-icon"></i>
                            </span>
                        </div>
                        <div class="shopping-info">
                            <div class="shopping-details white-letters">
                                <p>
                                    <strong class="white-letters">{{mainWallet.name}}</strong>
                                </p>
                                <p>
                                    {{mainWallet.amount}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <p class="other-section wallet-section-header">Other wallets</p>


            <ng-container *ngFor="let wallet of walletLists; let i = index">

                <div class="content-container" [ngStyle]="{'display': !wallet.selected ? 'block' : 'none'}"
                    (click)="selectWallet($event, i)" #wallet>

                    <!-- <input type="radio" class="wallet-checkbox" name="wallet" [value]="receipt"> -->
                    <div class="custom-box shadow">
                        <div class="box-content">
                            <div class="box-icon">
                                <span class="icon is-medium">
                                    <i class="fas my-size fa-wallet resize-icon"></i>
                                </span>
                            </div>
                            <div class="shopping-info">
                                <div class="shopping-details">
                                    <p>
                                        <strong>{{wallet.name}}</strong>
                                    </p>
                                    <p>
                                        {{wallet.amount}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>


        </div>
    </div>
</section>

<div class="bottom-menu">
    <div class="opt" *ngIf="!isWalletSelected">
        <span class="icon">
            <i class="fas fa-lg fa-plus-circle"></i>
        </span>
        <a routerLink="wallet">Add wallet</a>
    </div>
    <div class="isSelected" *ngIf="isWalletSelected">
        <div class="opt" (click)="setMainWallet()">
            <i class="fas fa-lg fa-check-circle"></i>
            <a *ngIf="isWalletSelected">Select</a>
        </div>
        <div class="opt" (click)="editWallet()">
            <i class="fas fa-lg fa-edit"></i>
            <a *ngIf="isWalletSelected">Edit</a>
        </div>
        <div class="opt">
            <i class="fas fa-lg fa-trash-alt"></i>
            <a *ngIf="isWalletSelected">Delete</a>
        </div>
        <div class="opt" (click)="selectWallet($event)">
            <i class="fas fa-lg fa-times"></i>
            <a *ngIf="isWalletSelected">Close</a>
        </div>
    </div>

</div>