
.shadow{
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.central-content-container{
    width: 100%;
    height: 90vh;
    // margin-top: 5rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-around;

    // border: 2px solid red;

    .date{
        padding: 1rem .2rem;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 769px){

    .date{
        padding: 1rem .2rem !important;
    }

}