

<section class="section is-medium main-content-section">
    <div class="container">

        <div class="categories-container">
            <div class="category" (click)="getShoppingList()">
                <span class="icon has-text-info is-large">
                    <i class="fas fa-3x fa-clipboard-list"></i>
                </span>
                <h3>Shopping Lists</h3>
            </div>
            <div class="category" routerLink="account">
                <span class="icon has-text-info is-large">
                    <i class="fas fa-3x fa-money-bill-wave"></i>
                </span>
                <h3>Account Balance</h3>
            </div>
            <div class="category">
                <span class="icon has-text-info is-large">
                    <i class="fas fa-3x fa-tags"></i>
                </span>
                <h3>Products Categories</h3>
            </div>
            <div class="category"></div>
            <div class="category"></div>
            <div class="category"></div>
        </div>
    </div>
</section>