

.categories-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.category{
    height: 20vh;
    padding-top: 1rem;
<<<<<<< HEAD
    outline-style: none; 
=======
>>>>>>> 9e6d022973377bf9283ae4cf365c8311ec811e59
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(212, 209, 209);
    border-radius: 25%;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

    h3{
        margin-top: 1rem;
        font-weight: 700;
    }

    &:active{
        transform: scale(0.85);
    }

}

section{
    // background-image: url(~src/assets/images/dark-heart.jpg);
}

.progress-bar-box{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1500;
}

.progress-box{
    width: 90%;
    height: 10rem;
    flex-direction: column;

    h2{
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: .8rem;
    }
}


@media(max-width: 1190px){

    .main-content-section{
        margin-top: 5rem;
    }

    .fa-3x{
        font-size: 5rem;
    }
}